<div class="main-content">
    <div class="container-fluid">
        <div class="page-header">
            <div class="row align-items-end">
                <div class="col-lg-8">
                    <div class="page-header-title">
                        <i class="ik ik-edit bg-blue"></i>

                        <div class="d-inline">
                            <h5>Components</h5>
                            <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <nav class="breadcrumb-container" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="../index.html"><i class="ik ik-home"></i></a>
                            </li>
                            <li class="breadcrumb-item"><a href="#">Forms</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Components</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header"><h3>Default table</h3></div>
                    <div class="card-body">
                        <table id="data-table" class="table table-responsive">
                            
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            
                           </tr>
                          
                            <tbody>
                                
                            <tr   *ngFor="let data of students">
                                <td>{{data.id}}</td>
                                <td>{{data.name}}<td>
                                <td>{{data.email}}</td>
                                <td> <a routerLink="/layout/editstudent/{{data.id}}">Edit</a></td>
                                <td><button class="btn btn-danger" (click)="delete(data.id)">Delete</button></td>
                            </tr>
                            </tbody>
                            <select >
                                <option selected >select your value</option><br><br>
                                <option [value]="data.email" *ngFor="let data of students">
                                    {{data.id}}
                                    {{data.name}}
                                    {{data.email}}
                                </option>
                                
                            </select>
                        </table>
                   
                    </div>
                </div>
            </div>

          
        </div>

        

       
    </div>
</div>

