<div class="main-content">
    <div class="container-fluid">
        <div class="page-header">
            <div class="row align-items-end">
                <div class="col-lg-8">
                    <div class="page-header-title">
                        <i class="ik ik-edit bg-blue"></i>

                        <div class="d-inline">
                            <h5>Components</h5>
                            <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <nav class="breadcrumb-container" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="../index.html"><i class="ik ik-home"></i></a>
                            </li>
                            <li class="breadcrumb-item"><a href="#">Forms</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Components</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header"><h3>Default table</h3></div>
                    <div class="card-body">
                        <table id="data-table" class="table table-responsive">
                            
                            <tr>
                                <th>id</th>
                                <th>brand_name</th>
                                <th>category_name</th>
                                <th>product_name</th>
                                <th>price</th>
                                <th>quantity</th>
                               
                            
                           </tr>
                          
                            
                                
                            <tr   *ngFor="let data of students">
                                <td>{{data.id}}</td>
                                <td>{{data.brand_name}}</td>
                                <td>{{data.category_name}}</td>
                                <td>{{data.product_name}}</td>
                                <td>{{data.price}}</td>
                                <td>{{data.quantity}}</td>
                             
                            </tr>
                            
                           
                        </table>
                   
                    </div>
                </div>
            </div>

          
        </div>

        

       
    </div>
</div>


